@using ToyShop.ModelViews.ContractModelView;
@model ResponseContractModel;
@{

}
<div class="container-fluid position-relative px-1 py-5 mx-auto index-12">
    <div class="text-right"><a class="close-form"><i class="fa fa-times text-dark fs-3" aria-hidden="true"></i></a></div>
    @Html.DisplayForModel(Model)
</div>
