<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" type="image/png" href="~/uploads/favicon.png">

    <title>@ViewData["Title"] - Admin Panel</title>

    <!-- Font and CSS Libraries -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.minAdmin.css">
    <link rel="stylesheet" href="~/css/font_awesome_5_free.min.css">
    <link rel="stylesheet" href="~/css/select2.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="~/css/duotone-dark.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/css/iziToast.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-iconpicker.min.css">
    <link rel="stylesheet" href="~/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="~/css/styleAdmin.css">
    <link rel="stylesheet" href="~/css/components.css">
    <link rel="stylesheet" href="~/css/air-datepicker.min.css">
    <link rel="stylesheet" href="~/css/spacing.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/message.css">


    <style>
        .dataTables_wrapper > *:last-child{display: none}

        .dataTables_wrapper > *:first-child {
            display: none
        }
    </style>
</head>

<body>
    <!-- Main Wrapper -->
    <div id="app">
        <div class="main-wrapper">
            <!-- Navbar -->
            @await Html.PartialAsync("/Pages/Admin/Shared/_Navbar.cshtml")

            <!-- Sidebar -->
            @await Html.PartialAsync("/Pages/Admin/Shared/_Sidebar.cshtml")

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                    <!-- Content will be injected here -->
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/tooltip.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/stisla.js"></script>
    <script src="~/js/jscolor.js"></script>
    <script src="~/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/iziToast.min.js"></script>
    <script src="~/js/fontawesome-iconpicker.js"></script>
    <script src="~/js/air-datepicker.min.js"></script>
    <script src="~/tinymce/tinymce.min.js"></script>
    <script src="~/js/bootstrap4-toggle.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/message.js"></script>
    <!-- Additional scripts for the page can be injected here -->
    @RenderSection("Scripts", required: false)
</body>
</html>
